@use "./colors.scss" as *;

$buttons: (
  sm: (
    padding: 0.5rem 1rem,
    fontSize: 0.8rem,
    gap: 0.5rem,
  ),
  md: (
    padding: 0.75rem 1.5rem,
    fontSize: 1rem,
    gap: 0.75rem,
  ),
  lg: (
    padding: 1rem 2rem,
    fontSize: 1.25rem,
    gap: 1rem,
  ),
);

@mixin button($size, $color, $type: "fullfilled") {
  $button-styles: map-get($buttons, $size);

  padding: map-get($button-styles, padding);
  font-size: map-get($button-styles, fontSize);
  gap: map-get($button-styles, gap);
  width: 100%;

  @if $type == "fullfilled" {
    background-color: var(--#{$color}-800);
    color: var(--white-600);
  } @else if $type == "outlined" {
    background-color: var(--#{$color}-50);
    color: var(--#{$color}-600);
    border: 1px solid var(--#{$color}-200);
  } @else if $type == "link" {
    background-color: transparent;
    color: var(--#{$color}-600);
    border: none;
    padding: 0;
  }

  &:hover {
    @if $type == "fullfilled" {
      background-color: var(--#{$color}-700);
    } @else if $type == "outlined" {
      background-color: var(--#{$color}-100);
    } @else if $type == "link" {
      color: var(--corn-500);
    }
  }
}
