$themeColors: (
  "white",
  "black",
  "gray",
  "greenay",
  "palesky",
  "tomato",
  "pumpkin",
  "hazel",
  "corn",
  "holly"
);

$colors: (
  white: (
    500: #ffffff,
    600: #fcfcfc,
  ),
  black: (
    500: #000000,
  ),
  gray: (
    50: #f9fafb,
    100: #f3f4f6,
    200: #e5e7eb,
    300: #d1d5db,
    400: #9ca3af,
    500: #6b7280,
    600: #4b5563,
    700: #374151,
    800: #1f2937,
    900: #111827,
    950: #030712,
  ),
  greenay: (
    50: #f3f6f3,
    100: #e5e8e3,
    200: #cbd2c8,
    300: #a5b2a3,
    400: #7d8d7a,
    500: #5c6f5a,
    600: #465744,
    700: #384537,
    800: #2d382d,
    900: #262e26,
    950: #151a14,
  ),
  palesky: (
    50: #f4f8f9,
    100: #ecf1f3,
    200: #dbe7ea,
    300: #c5d7dc,
    400: #adc2cc,
    500: #98aebc,
    600: #8197aa,
    700: #647687,
    800: #5b6a78,
    900: #4d5862,
    950: #2d3339,
  ),
  tomato: (
    50: #fff3f1,
    100: #ffe4df,
    200: #ffcec5,
    300: #ffac9d,
    400: #ff7c64,
    500: #ff6347,
    600: #ed3615,
    700: #c8290d,
    800: #a5260f,
    900: #882614,
    950: #4b0f04,
  ),
  pumpkin: (
    50: #fff9ec,
    100: #fff2d3,
    200: #ffe1a5,
    300: #ffca6d,
    400: #ffa732,
    500: #ff8c0a,
    600: #ff7300,
    700: #cc5302,
    800: #a1400b,
    900: #82370c,
    950: #461904,
  ),
  hazel: (
    50: #f7f7ef,
    100: #ece9d5,
    200: #dbd2ad,
    300: #c6b77e,
    400: #b59e5a,
    500: #af9351,
    600: #8e7140,
    700: #735735,
    800: #614832,
    900: #543f2f,
    950: #302118,
  ),
  corn: (
    50: #fdfde9,
    100: #fdfbc4,
    200: #fbf38d,
    300: #f9e54b,
    400: #f5d31a,
    500: #f1c40f,
    600: #c59009,
    700: #9d670b,
    800: #825211,
    900: #6f4314,
    950: #412307,
  ),
  holly: (
    50: #effaf5,
    100: #d8f3e4,
    200: #b4e6cd,
    300: #82d3b0,
    400: #4eb98e,
    500: #2c9d73,
    600: #1d7e5c,
    700: #17654c,
    800: #15503e,
    900: #124233,
    950: #09251d,
  ),
);

:root {
  @each $name, $map in $colors {
    @each $key, $value in $map {
      --#{"#{$name}"}-#{"#{$key}"}: #{"#{$value}"};
    }
  }
}
